@font-face {
    src: url("../public/static/Nunito-Regular.ttf") format("truetype");
    font-family: "Nunito";
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: "Nunito", sans-serif;
}

#container-no-data{
    height: auto;
    width: 50%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
    background-color: #F8F9FA;
    margin-top: 2rem;
    border-radius: 10px;
    border: 2px solid rgb(193, 190, 190);
    margin: auto;
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 1rem;
}

@media (max-width:600px){
    #container-no-data{
        width: 90%;
    }
}